<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h2>Edit Student</h2>

<form action="/edit-student/<%= student.id %>" method="POST">
    <input
        type="text"
        name="name"
        required
        value="<%= student.name %>"
        
    />
    <button type="submit">Update</button>
</form>

<br>
<a href="/">⬅ Back</a>

</body>
</html>
