<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Student List</h1>

<a href="/add">➕ Add Student</a>

<ul>
    <% students.forEach(student => { %>
        <li>
            <%= student.id %> - <%= student.name %>
            <a href="/edit/<%= student.id %>">✏ Edit</a>
            <a href="/delete/<%= student.id %>" class="delete"
               onclick="return confirm('Are you sure?')">❌ Delete</a>
        </li>
    <% }) %>
</ul>

</body>
</html>
